{% extends 'base.html' %}
{% block title %} {{user.username|capfirst}} {% endblock %} 
{% load static %}
{% block content%}
{% include 'consumer/navbar.html' %}
<div class="container">
    <h1 class="text-center mt-3 mb-5">Welcome {{user.username}}</h1>
</div>
{% if tasks %}
<div class="container">
  <table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Complete?</th>
      <th scope="col">Date</th>
      <th scope="col">Update</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for task in tasks %}
        <tr>
            <th scope="row">{{lectura.id}}</th>
            <td>{{lectura.title}}</td>
            {% if lectura.state %}
              <td><span class="badge bg-success">Yes</span></td>
            {% else %}
              <td><span class="badge bg-danger">No</span></td>
            {% endif %}
            <td>@{{task.date}}</td>
            <td><a href="{% url 'lectura:update_lectura' lectura.id %}" class="btn btn-info">Update</a></td>
            <td><a href="{% url 'lectura:delete_lectura' lectura.id %}" class="btn btn-danger">Delete</a></td>
        </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% else %}
<h3 class="text-center mb-5">No hay tareas</h3>
{% endif %}
{% endblock %}
